name: CD Pipeline

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    # Setup Docker
    - name: Set up Docker
      uses: docker/setup-buildx-action@v3

    # Install kind
    - name: Install KIND
      run: |
        curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.23.0/kind-linux-amd64
        chmod +x ./kind
        sudo mv ./kind /usr/local/bin/kind

    # Create Kubernetes cluster
    - name: Create KIND cluster
      run: kind create cluster

    # Install kubectl
    - name: Install kubectl
      run: |
        curl -LO https://dl.k8s.io/release/v1.30.0/bin/linux/amd64/kubectl
        chmod +x kubectl
        sudo mv kubectl /usr/local/bin/

    # Load image into KIND
    - name: Pull and load Docker image
      run: |
        docker pull ${{ secrets.DOCKERHUB_USERNAME }}/secure-task-manager:${{ github.sha }}
        kind load docker-image ${{ secrets.DOCKERHUB_USERNAME }}/secure-task-manager:${{ github.sha }}

    # Deploy to Kubernetes
    - name: Deploy application
      run: |
        sed -i "s|DOCKER_IMAGE_PLACEHOLDER|${{ secrets.DOCKERHUB_USERNAME }}/secure-task-manager:${{ github.sha }}|g" k8s/deployment.yaml
        kubectl apply -f k8s/

    # Wait for pod
    - name: Wait for deployment
      run: kubectl rollout status deployment/secure-task-manager

    # Dummy DAST / Smoke Test
    - name: Smoke Test (DAST-lite)
      run: |
        kubectl port-forward service/secure-task-manager 8080:8080 &
        sleep 10
        curl -f http://localhost:8080/health
