name: CD Pipeline (AWS Kubernetes)

on:
  workflow_dispatch:



jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to AWS EC2 Kubernetes via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo "Connected to EC2"

            kubectl get nodes

            echo "Applying Kubernetes manifests"
            kubectl apply -f k8s/deployment.yaml
            kubectl apply -f k8s/service.yaml

            echo "Waiting for rollout"
            kubectl rollout status deployment/secure-task-manager

            echo "Runtime validation"
            curl -f http://localhost:30080/health
