name: CD Pipeline (AWS Kubernetes)

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to AWS Kubernetes
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Verify runner & cluster access
        run: |
          echo "Runner info:"
          uname -a
          kubectl version --client
          kubectl get nodes

      - name: Apply Kubernetes manifests
        run: |
          kubectl apply -f k8s/deployment.yml
          kubectl apply -f k8s/service.yml

      - name: Force rollout (pull latest image)
        run: |
          kubectl rollout restart deployment/shortly-deployment

      - name: Wait for rollout to complete
        run: |
          kubectl rollout status deployment/shortly-deployment --timeout=120s
